{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CRUD Application</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <link rel="stylesheet" href="{% static '/css/register.css' %}">
</head>

<body>
    <nav class="navbar">
	    <p class="navbar-brand">Todo List</p>

        {% if user.is_authenticated %}
            <p id="welcome-user">Welcome, {{ request.user.username }}</p>

            <ul>
                <li class="navbar-item">
                    <a class="link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        {% else %}
            <ul>
                {% if request.path == '/register/' %}
                    <li>
                        <a class="link" href="{% url 'login' %}">Login</a>
                    </li>
                {% elif request.path == '/login/' %}
                    <li>
                        <a class="link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
	</nav>

    {% block content %}
    {% endblock %}
    <!-- Below jquery javascript is required for modal functionalities -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
