{% extends 'todo/index.html' %}

{% block content %}

    <h2 class="text-md-center">You Have Been Logged Out!</h2>
    <div class="border-top pt-3 text-center">
        <a href="{% url 'login' %}" class="">Login Again</a>      
    </div>

{% endblock %}
